
.home-background {
    background-image: url(../Home/images/homeImage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% auto;
}
.home-container{
    padding: 3%;
    height: 100vh;
    width: 100%;
}

.home-slogan-header{
    font-family: '';
    font-style: normal;
    font-weight: normal;
    width: auto;
    padding-top: 70px;
    padding: 10px;
    float: right;
    text-align: right;
    width: 40%;
    
}
.home-slogan-text{
    font-family: 'Montserrat';
    font-size: 70px;
    width: auto;
    padding-top: 100px;
    padding-left: 40%;
    width: 30%;
    text-align: right;
    float: right;
}